html,
body {
	margin:0;
	padding:0;
}


.footer {
	background-color: #FF5D3C;
    color: #fff;
}


.logo {
	max-width: 220px;
	margin: 1rem auto;
    text-align: center;
}

.nav-content {
    padding-left: 0;
    text-align: center;
}

#search {
    width: 100%;
    text-align: center;
}

.welcome {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 16%;
    left: 30%;
    right: 10%;
    padding: 1%;
}

@media only screen and (min-width:20em) {
    #search {
        text-align: center;
        margin: 10px;
    }

}

@media only screen and (max-width:30em) {
    .logo {
        text-align: center;
    }
}


@media only screen and (min-width:30em) {
	/*.logo {
        margin-left: 1rem;
	}*/
}

.nav {
	margin-top: 1.5rem;
	text-align: center;
}

.nav li {
    margin-top: -4px;
}

.nav a {
	display: inline-block;
    padding: 20px 15px;
    color: #fff;
}

.nav-content {
    text-align: center;
}

.nav .current {
    background: url(../images/hover-nav-l.png) no-repeat;
    padding-left: 7px;
}

.nav .current a {
    background: url(../images/hover-nav.png);
    color: #ffffff;
}
@media only screen and (min-width:60em) {
	.nav {
        width: 100%;
		text-align: center;
        background: #78dbf2 url(../images/nav-bg.png);
        margin: 0px;
        padding-right: 20px;
        height: 59px;
	}
    .logo {
        margin: 12px 0px 0px 20px;
    }
}


@media only screen and (min-width: 50em) {
	.footer_links {
		text-align: right;
    }
}

