html,
body {
	margin:0;
	padding:0;
}

.masthead,
.footer {
	background-color: #FF5D3C;
}


.logo {
	max-width: 100px;
	margin: 1rem auto;
    text-align: center;
}

.nav-content {
    padding-left: 0;
    text-align: center;
}

#search {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width:20em) {
    #search {
        text-align: center;
        margin: 10px;
    }

}

@media only screen and (max-width:30em) {
    .logo {
        text-align: center;
    }
}


@media only screen and (min-width:30em) {
	/*.logo {
        margin-left: 1rem;
	}*/
}

.nav {
	margin-top: 1.5rem;
	text-align: center;
}

.nav a {
	display: inline-block;
	margin: 0 0.4em;
}

.nav li::after {
    content: '☁︎';
    color: #ffffff;
}

.nav li:last-child::after {
    content: none;
}

.nav-content {
    text-align: center;
}
@media only screen and (min-width:60em) {
	.nav {
		margin-top: 40px;
		text-align: right;
        margin-right: 45px;
	}
    .logo {
        margin: 12px 0px 0px 20px;
    }
}


@media only screen and (min-width: 50em) {
	.footer_links {
		text-align: right;
    }
}

