---
layout: default
title: About
bannertext: Welcome to Tasting Treats!
showbanner: yes
---

<main class="grid pad-top-double" role="main">
    <h1 class="heading">About Us</h1>
    <div class="pad-all">
        <p>Our Tempting Treats is a full service bakery offering freshly-baked, moist and delicious cupcakes and cakes, fully custom orders
            and other delightful baked treats. For questions on any of our products, call us at (613) 855-6449 to talk to one of our “Sweetness Specialists”.</p>
    </div>

    <div class="promo-small-div">
        <h2 class="exa home_title">Products Recommendation</h2>
        <div class="grid">
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4" id="berry-cake">
                {% include promo-small.html title="Coconut Cake" image="images/cupcake/1.jpg" link="/sweets/berry-cake"%}
            </div>
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Creamy Creme Brulee" link="/sweets/creamy-creme-Brulee" image="images/cupcake/2.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Berry Cake" link="/sweets/berry-cake" image="images/cake/c1.jpg" %}
            </div>
        </div>
    </div>
</main>


