---
layout: default
title: Accessibility Testing Report
---
# Accessibility Testing Report

User testing was conducted by {Quynh Nguyen} on {April 9th} between the times of {10am } and {4pm} with the following participants:

- {Michelle Holly Dugas}
- {Joey Anh Huynh}
- {Iman Ghader}
- {Nicholle Veiro}
- {Cuong Nguyen}
- {Elzahra Elghirani}

## Tasks

1. {Look for Chocolate cake}
2. {browsing the site and buy a cupcake}
3. {Buy the Coconut cupcake}

---

### {Michelle Holly Dugas}
- She found the cake with no problem at all.
- The tab function doesn't work for the small promo.
_ She hated to listen to the voice.
_ One of my link in the small promo does not work.
_ The padding is so annoying.


### {Joey Anh Huynh}

- {She found the cake easily.
_ The tab function doesn't work for the small promo.
- One of the link in the small promo is broken.

### {Iman Ghader}
- She fount the cake easily.
- The tab jump on the right place.
_ My website design look messy and the design is not consistent.
_ One of the link in the small promo is broken.


### {Nichole Veiro}
- The tab function doesn't work for the small promo.
- She have no trouble with browsing, but after buying a cake, she clicked on a link on a cake on th thank you page, it's broken.
- The tab jumped on the right places on the page.
-
- The padding of many sections bother her.

### {Elzahra Elghirani}
_ She found the cake easily.
- The tab function doesn't work for the small promo.

### {Cuong Nguyen}

- {He found the cake easily}
- The tab function doesn't work for the small promo.
- {He hates the padding of my website}
- {I have to work more in the design part to make it more appealing }
- {The links of one of my cake in the small promo page is broken.}


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {The links of one of my cake in the small promo page is broken.}
- The tab function doesn't work for the small promo.


### Serious, Causes Frustration, May Hinder Completion

- {I have padding issue, need to work more to make the page look more appealing}
- The tab function doesn't work for the small promo.


### Minor, Annoying, Won’t Hinder Completion

- Need to add 2 more "alt" content.
- Need to add the link into the logo so that when user clicks on the logo, it takes him to home page.


