---
layout: default
title: Home
bannertext:
showbanner: yes
---

<main role="main">
{% include promo-large.html %}

    <div class="promo-large">
        <img src="{{site.baseurl}}/images/welcome-img.jpg" class="img-flex">
        <div class="welcome">
             <h1>Welcome to Tasting Treats</h1>
             <p>It is easy to pre-order your cupcakes! For any of our cupcakes "Hot out of the Oven" we need a 24 hour notice. For any of our Special Order Cupcakes we request a 48 hour notice. Simply fill out the form below, click the "Send to our Bakery" It will be faxed directly to our store! You will be contacted shortly to confirm your cupcake order request and payment information.</p>
        </div>
    </div>
    <div class="grid">
        <div class="promo-small-div">
            <h2 class="exa">Products Recommendation</h2>
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4" id="berry-cake">
                {% include promo-small.html title="Berry Cake" image="images/cupcake/1.jpg" link="/sweets/berry-cake"%}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Creamy Creme Brulee" link="/sweets/creamy-creme-Brulee" image="images/cupcake/2.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
            </div>
        </div>
    </div>
</main>


