---
layout: default
title: search
bannertext: Order your cakes online now!
showbanner: yes
---
<div class="pad-left">
<h1>Search Results</h1>
<p> 3 Products founds.</p>
</div>

<div class="grid results">
    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Berry Cake" link="sweets/berry-cake" desc="Try our delicious berry cake with lots of berry." image="images/cupcake/1.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Creamy Creme Brulee" link="sweets/creamy-creme-brulee" desc="Banana, pineapple and pecan cake with sweet cream" image="images/cupcake/2.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Chocolate Lovers" link="sweets/chocolate-lovers" desc="Chocolate cake topped with a swirl of chocolate buttercream and purple rose." image="images/cupcake/3.jpg" %}
    </div>
</div>

</div>

