---
layout: default
title: Thank you
---


<main class="grid pad-top-double" role="main">
    <div class="pad-all">
        <h1>Thank you for doing business with us!</h1>
        <p>Hope to see you back soon ^-^!</p>
    </div>

    <div class="promo-small-div">
        <h2 class="exa home_title">Products Recommendation</h2>
        <div class="grid">
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4" id="berry-cake">
                {% include promo-small.html title="Berry Cake" image="images/cake/c1.jpg" link="/sweets/berry-cake"%}
            </div>
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Creamy Creme Brulee" link="/sweets/creamy-creme-Brulee" image="images/cupcake/2.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Coconut Cupcake" link="/sweets/coconut-cake" image="images/cupcake/1.jpg" %}
            </div>
        </div>
    </div>
</main>

