# User Testing Report

User testing was conducted by {Quynh Nguyen} on {April 2} between the times of {1.00 pm} and {7:00 pm} with the following participants:

- {Joey Anh Huynh}
- {Nicholle Veiro}
- {Cuong Nguyen}

## Tasks

1. {Look for Tiramisu cake}
2. {browsing the site and buy a cupcake}
3. {Buy the Coconut cupcake}

---

## Individual Results & Observations

### {Joey Anh Huynh}

- {She found the cake easily.}
- {She had troubles with looking for the store address and business hours.}
- {The links of two of my cake in the thank you page are broken.}


### {Nichole Veiro}

- {She have no trouble with browsing, but after buying a cake, she clicked on a link on a cake on tha thank you page, it's broken.}
- {the padding of many sections bother her}
- {She couldn't find the store address and business hours)


### {Cuong Nguyen}

- {He found the cake easily}
- {He hates the padding of my website}
- {I have to work more in the design part to make it more appealing }
- {The links of two of my cake in the thank you page are broken.}


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {The links of two of my cake in the thank you page are broken.}


### Serious, Causes Frustration, May Hinder Completion

- {I have padding issue, need to work more to make the page look more appealing}


### Minor, Annoying, Won’t Hinder Completion

- {Need to added Address and business hours}
