<div class="promo-big pad-b-2">

    <div class="media grid">
        <div class=" unit unit-s-1 unit-m-1  unit-l-1-2  ">
            <img class="img-flex media-img" src="http://placehold.it/960x340" alt="">
     </div>

        <div class="media-body unit unit-s-1 unit-m-1  unit-l-1-2  ">
            <a class="block-link" href class="exa"><strong>Tootsie roll bonbon icing croissant</strong></a>
            <p>Muffin marzipan tart marzipan muffin bonbon. Croissant bonbon pastry dessert donut marshmallow chocolate candy canes muffin.</p>
            <a class="btn giga" href="#">Shop Now</a>
        </div>
    </div>
</div>
