---
layout: sweets
type: cakes
---



<main class="grid">
    <div class="promo-small-div">
        {% for sweets in site.pages %}
        {% if sweets.type == 'cake' %}
        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            <p>
                <a href="{{site.baseurl}}{{sweets.url}}"><img src="{{site.baseurl}}/images/{{sweets.image}}" alt="" class="img-flex"></a>
            </p>
            <p class="unit-s-1-2 unit-m-1-4 unit-l-1-4">{{sweets.title}}</p>
            <p class="unit-s-1-2 unit-m-1-4 unit-l-1-4"> ${{sweets.price}}</p>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>