---
layout: sweets
type: cupcakes
---

<main class="grid">
    <div class="promo-small-div">
        {% for sweets in site.pages %}
        {% if sweets.type == 'cupcake' %}
        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            <li>
                <a href="{{site.baseurl}}{{sweets.url}}"><img src="{{site.baseurl}}/images/{{sweets.image}}" alt="" class="img-flex"></a>
            </li>
            <li class="unit-s-1-2 unit-m-1-4 unit-l-1-4">{{sweets.title}}</li>
            <li class="unit-s-1-2 unit-m-1-4 unit-l-1-4"> ${{sweets.price}}</li>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>

<div class="grid">
    <div class="promo-small-div">
        <h2 class="exa">Products Recommendation</h2>
        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            {% include promo-small.html title="Berry Cake" image="images/cupcake/1.jpg" link="/sweets/berry-cake"%}
        </div>

        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            {% include promo-small.html title="Creamy Creme Brulee" link="/sweets/creamy-creme-Brulee" image="images/cupcake/2.jpg" %}
        </div>

        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
        </div>

        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
        </div>
    </div>
</div>