---
layout: sweets
type: cupcake
---

<main class="">
    <div class="promo-small-div grid">
        {% for sweets in site.pages %}
        {% if sweets.type == 'cupcake' and sweets.category == 'sweets' %}
        <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
            <div class="promo-small">

                <div class="gutter">
                    <a class="block-link" href="{{site.baseurl}}{{sweets.url}}">
                        <img class="img-flex img-wrapper" src="{{site.baseurl}}/images/{{sweets.image}}" alt="">
                        <p>{{sweets.title}}<br />
                            <span class="price">${{sweets.price}}</span>
                        </p>
                    </a>
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>



    <div class="promo-small-div">
        <h2  class="exa home_title">Products Recommendation</h2>
        <div class="grid">
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4" id="berry-cake">
                {% include promo-small.html title="Berry Cake" image="images/cake/c1.jpg" link="/sweets/berry-cake"%}
            </div>
            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Creamy Creme Brulee" link="/sweets/creamy-creme-Brulee" image="images/cupcake/2.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Chocolate Lovers" link="/sweets/chocolate-lovers" image="images/cupcake/3.jpg" %}
            </div>

            <div class ="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
                {% include promo-small.html title="Coconut Cupcake" link="/sweets/coconut-cake" image="images/cupcake/1.jpg" %}
            </div>
        </div>
    </div>
</main>