---
layout: default
title: Sweets
---

<main class="" role="main">
    {% include sweet-nav.html %}

    <h1 class="heading">Well come to Tasting Treats</h1>
    <div class="pad-all">
        <p>Fresh baked straight from the oven.</p>
    </div>

    <div class="promo-small-div grid">
    {% for sweets in site.pages %}
    {% if sweets.category == 'sweets' %}
    <div class="gutter-small unit unit-s-1-2 unit-m-1-4 unit-l-1-4">
        <div class="promo-small">

            <div class="gutter">
                <a class="block-link" href="{{site.baseurl}}{{sweets.url}}">
                    <img class="img-flex img-wrapper" src="{{site.baseurl}}/images/{{sweets.image}}" alt="">
                    <p>{{sweets.title}}<br />
                        <span class="price">${{sweets.price}}</span>
                    </p>
                </a>
            </div>
        </div>

    </div>
    {% endif %}
    {% endfor %}
    </div>
</main>

