.current {
    background-color: red;
}

.banner {
    /*background: url(../images/banner.png) no-repeat;
    height: 189px;*/
}


.left-text h2 {
    color: #000;
    margin-bottom: 0px;
}
.left-text {
    position: absolute;
    left: 34%;
    top: 5%;
}
.right-text {
    position: absolute;
    right: 7%;
    top: 5%;
    color: #fff;
}
.right-text h2 {
    color: #fff;
    margin-bottom: 0px;
}

@media only screen and (max-width:60em) {
    .banner {
        display: none;
    }
}