.img-flex {
	width:100%;
	display: block;
}

.product {
	background-color: #fff;
	border-radius: 10px;
	padding: 1em;

}

.promo-large {
    position: relative;
    background: url(../images/big-promo.jpg) no-repeat center ;
    height: 500px;
    background-size: cover;
}

.promo-text {
    position: absolute;
    width: 40%;
    height: 50%;
    background: url(../images/big-promo-bg-square.png) repeat;
    border-radius: 5px;
    top: 30%;
    left: 10%;
    padding: 1%;
}

.promo-text h2 {
    color: #333;
    font-size: 2.4em;
    font-weight: normal;
    line-height: 1.2;
}

.promo-small-div{

}

.promo-small p {
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width:30em) {
    .promo-text h2 {
        font-size: 2em;
    }
}

@media only screen and (max-width:60em) {
    .promo-text {
        width: 80%;
    }
}