html,
body {
	margin:0;
	padding:0;
}

.logo {
	max-width: 220px;
	margin: 1rem auto;
    text-align: center;
}

.nav-content {
    padding-left: 0;
    text-align: center;
}

#search {
    width: 100%;
    text-align: center;
}

.welcome {
    position: absolute;
    top: 5%;
    left: 30%;
    padding: 1%;
}
.welcome h1 {
    margin-bottom: 2%;
}

.home_title {
    background: #ff3300;
    color: #fff;
    width: 500px;
    text-align: right;
    padding: 0.2em 0.8em;
}

.img-wrapper {
    padding: 5px;
    box-shadow: 2px 2px 4px #ccc;
}

.home_welcome {
    min-height:180px;
    position:relative;
}

.pad-all {
    padding: 1% 5%;
}

.price {
    color: #ff3300 !important;
}

.heading {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

@media only screen and (min-width:20em) {
    #search {
        text-align: center;
        margin: 10px;
    }

}

@media only screen and (max-width:30em) {
    .logo {
        text-align: center;
    }
    .home_welcome img {
        display: none;
    }
    .welcome {
        left: 0px;
    }
    .home_title {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
    }
}

@media only screen and (max-width:60em) {

    .welcome h1 {
        margin-bottom: 1%;
        font-size: 1.2rem;
    }

    .welcome p {
        font-size: 12px;
    }
}


@media only screen and (min-width:30em) {
	/*.logo {
        margin-left: 1rem;
	}*/
}

.nav {
	margin-top: 1.5rem;
	text-align: center;
}

.nav li {
    margin-top: -4px;
}

.nav a {
	display: inline-block;
    padding: 20px 15px;
    color: #fff;
}

.nav-content {
    text-align: center;
}

.nav .current {
    background: url(../images/hover-nav-l.png) no-repeat;
    padding-left: 7px;
}

.nav .current a {
    background: url(../images/hover-nav.png);
    color: #ffffff;
}

.subnav ul {
    text-align: center;
    margin-bottom: 0px;
}

.subnav li {
    margin: 1rem 2rem;
    padding-bottom: 0.5rem;
}

.subnav .current {
    border-bottom: 2px solid #f24150;

}
.nav {
    width: 100%;
    text-align: center;
    background: #78dbf2 url(../images/nav-bg.png);
    margin: 0px;
    padding-right: 20px;
    height: 59px;
}
.logo {
    margin: 12px 0px 0px 20px;
}


@media only screen and (min-width: 50em) {
	.footer_links {
		text-align: right;
    }
}

