<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - Tempting Treats</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Elsie|Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-detail.css" rel="stylesheet">
</head>
<body>


{% if page.showbanner %}
    <div class="banner">
        <img src="{{site.baseurl}}/images/banner.png" class="img-flex">
        <div class="left-text">
            <h2>Free  Delivery over 40$</h2>
            44 Bank st, Ottawa, K2G 1C2<br />
            613. 747. 7777
        </div>

        <div class="right-text">
            <h2>Business Hours</h2>
            Mon – Thu: 8.00 am – 9:00 pm<br />
            Sat – Sun: 10:00 am – 6:00 pm
        </div>
    </div>
    {% endif %}


<header class="masthead" role="banner">
    <div class="grid nav-container">
        <div class="unit unit-s-1 unit-m-1 unit-l-1-3">
            <h1><img class="img-flex logo" src="{{site.baseurl}}/images/logo.png" alt="Tasting Treats"></h1>
        </div>

        <div class="unit unit-s-1 unit-m-1 unit-l-2-3 pad-t-1-2 gutter">

            <form method="get" action="{{site.baseurl}}/search" id="search" role="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
                <a href="#"><img src="{{site.baseurl}}/images/icons/cart.png" id="cart-icon" class="search-icon"></a>
                <a href="#"><img src="{{site.baseurl}}/images/icons/user.png" class="search-icon"></a>
            </form>

        </div>

        <ul class="list-group giga nav-content nav" role="navigation">
            <li class="list-group-item list-group-item-inline {% if page.url == '/' %}current{% endif %}">
                <a href="{{site.baseurl}}/">Home</a>
            </li>


            <li class="list-group-item list-group-item-inline">
                <a class="{% if page.url contains 'sweets' %}current{% endif %}" href="{{site.baseurl}}/sweets/">Sweets</a>

            </li>
            <li class="list-group-item list-group-item-inline">
                <a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
            </li>
        </ul>

    </div>
</header>



{{content}}


<footer class="footer pad-top-half">
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2" role="contentinfo">
            <p><small>©Tempting Treats. All Rights Reserved.</small></p>
        </div>
        <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
            <p>Follow us on</p>
            <ul class="list-group mili footer-links">
                <li class="list-group-item list-group-item-inline">
                    <a href="http://facebook.com/"><img src="{{site.baseurl}}/images/icons/i-facebook.svg" alt="Facebook"/></a>
                </li>
                <li class="list-group-item list-group-item-inline">
                    <a href="http://pinterest.com/"><img src="{{site.baseurl}}/images/icons/i-pinterest.svg" alt="Pinterest"/></a>
                </li>
                <li class="list-group-item list-group-item-inline">
                    <a href="http://twitter.com/"><img src="{{site.baseurl}}/images/icons/i-twitter.svg" alt="Twitter"/></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
